<section id="works">

        <div class="container">

            <h2 class="text-center">Portfolio
                <i class="icon-works">
                    <img src="img/icon-works.png">
                </i>
            </h2>

            <p class="text-center lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>

        </div>
        <!-- end: container -->

        <div id="works_items">

            <ul id="og-grid" class="og-grid">

                <li>

                    <a href="http://exot.sk/" data-largesrc="temp/z1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">

                        <img src="temp/thumbs/z1b.jpg" alt="img01" />
                        <div>Maserati photoshooting 2013</div>

                    </a>

                    <div class="thumbs">

                        <a href="http://exot.sk/" data-largesrc="temp/z1.jpg" data-thumb="temp/thumbs/z1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>

                        <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="temp/z2.jpg" data-thumb="temp/thumbs/z2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu."></a>

                        <a href="http://exot.sk/" data-largesrc="temp/z3.jpg" data-thumb="temp/thumbs/z3.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>

                        <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="temp/z4.jpg" data-thumb="temp/thumbs/z4.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu."></a>

                        <a href="http://exot.sk/" data-largesrc="temp/z5.jpg" data-thumb="temp/thumbs/z5.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>

                        <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="temp/z6.jpg" data-thumb="temp/thumbs/z6.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu."></a>

                        <a href="http://exot.sk/" data-largesrc="temp/z7.jpg" data-thumb="temp/thumbs/z7.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>

                        <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="temp/z8.jpg" data-thumb="temp/thumbs/z8.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu."></a>

                        <a href="http://exot.sk/" data-largesrc="temp/z9.jpg" data-thumb="temp/thumbs/z9.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>

                        <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="temp/1.jpg" data-thumb="temp/thumbs/1.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu."></a>



                    </div>

                </li>

                <li>

                    <a href="#" data-largesrc="temp/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">

                        <img src="temp/thumbs/2.jpg" alt="img02" />
                        <div>Magazine publishing 2013</div>

                    </a>

                    <div class="thumbs">

                        <a href="#" data-largesrc="temp/2.jpg" data-thumb="temp/thumbs/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu."></a>

                        <a href="#" data-largesrc="temp/z1.jpg" data-thumb="temp/thumbs/z1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>

                        <a href="#" data-largesrc="temp/z2.jpg" data-thumb="temp/thumbs/z2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu."></a>

                        <a href="#" data-largesrc="temp/z3.jpg" data-thumb="temp/thumbs/z3.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>

                    </div>

                </li>

                <li>

                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="temp/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">

                        <img src="temp/thumbs/3.jpg" alt="img03" />
                        <div>Business marketing event</div>

                    </a>

                    <div class="thumbs">

                        <a href="http://exot.sk/" data-largesrc="temp/3.jpg" data-thumb="temp/thumbs/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato."></a>

                        <a href="http://exot.sk/" data-largesrc="temp/z1.jpg" data-thumb="temp/thumbs/z1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>

                        <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="temp/z2.jpg" data-thumb="temp/thumbs/z2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu."></a>

                        <a href="http://exot.sk/" data-largesrc="temp/z3.jpg" data-thumb="temp/thumbs/z3.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>

                        <a href="http://exot.sk/" data-largesrc="temp/1.jpg" data-thumb="temp/thumbs/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>

                    </div>

                </li>

                <li>

                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="temp/4.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">

                        <img src="temp/thumbs/4.jpg" alt="img01" />
                        <div>Magazine publishing and graphic design</div>

                    </a>

                    <div class="thumbs">

                        <a href="http://exot.sk/" data-largesrc="temp/4.jpg" data-thumb="temp/thumbs/4.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>

                        <a href="http://exot.sk/" data-largesrc="temp/z1.jpg" data-thumb="temp/thumbs/z1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>

                        <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="temp/z2.jpg" data-thumb="temp/thumbs/z2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu."></a>

                        <a href="http://exot.sk/" data-largesrc="temp/z3.jpg" data-thumb="temp/thumbs/z3.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."></a>

                    </div>

                </li>

                <li>

                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="temp/5.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">

                        <img src="temp/thumbs/5.jpg" alt="img02" />
                        <div>Motor boat photoshooting</div>

                    </a>

                </li>

                <li>

                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="temp/6.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">

                        <img src="temp/thumbs/6.jpg" alt="img03" />
                        <div>Superstar website development</div>

                    </a>

                </li>

                <li>

                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="temp/7.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">

                        <img src="temp/thumbs/7.jpg" alt="img01" />
                        <div>Yacht magazine design</div>

                    </a>

                </li>

                <li>

                    <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="temp/8.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">

                        <img src="temp/thumbs/8.jpg" alt="img02" />
                        <div>Motor boat design contest</div>

                    </a>

                </li>

            </ul>

        </div>
        <!-- end: #works_items -->

    </section>
    <!-- end: #works -->