<section id="social">

        <div class="container">

            <ul class="inline text-center">

                <li>
                    <a href="#" target="_blank">
                        <i class="ico">F</i>
                    </a>
                </li>

                <li>
                    <a href="#" target="_blank">
                        <i class="ico">L</i>
                    </a>
                </li>

                <li>
                    <a href="#" target="_blank">
                        <i class="ico">E</i>
                    </a>
                </li>

                <li>
                    <a href="#" target="_blank">
                        <i class="ico">O</i>
                    </a>
                </li>

                <li>
                    <a href="#" target="_blank">
                        <i class="ico">D</i>
                    </a>
                </li>

            </ul>

        </div>
        <!-- end: .container -->

    </section>
    <!-- end: #social -->