    <div class="container txtblock nrtwo">

        <p class="lead">Our team is devoted to your happiness. Integer nec odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit diozo burit burizon.
            <a href="#contact" class="scrollto">Let`s talk.</a>
        </p>

    </div>
    <!-- end: container txtblock -->

    <div class="container txtblock nrthree">

        <p class="text-center lead">Our offices are situated in London where we have a base for the leading graphic designers, developers and other magicians in the country.
            <a href="#contact" class="scrollto">Let`s talk.</a>
        </p>

    </div>
    <!-- end: container txtblock -->