<div class="autocomplete">
                <input class="autocomplete-query" type="text" ng-model="searchParam" placeholder="Search for your Location" class="tt-query" />
    
                <ul ng-show="searchParam && completing">
                  <li suggestion ng-repeat="suggestion in suggestions | filter:searchFilter | orderBy:'toString()' "  index="{{$index}}" val="{{suggestion.location}}" ng-class="{active: ($index == selectedIndex)}" ng-click="select(suggestion.location)">
                    {{suggestion.location}}
                  </li>
                </ul>
              </div>